/*
Project-specific styles. For details, see:
https://www.docsy.dev/docs/content/lookandfeel/#project-style-files
*/

// Dark mode enhancements
@import 'td/color-adjustments-dark';
@import 'td/code-dark';
@import 'td/gcs-search-dark';
@import 'td/extra/buttons';
@import 'td/extra/main-container';

// CSS classes that are only visible in light or dark mode

[data-bs-theme="light"] {
  .dark-mode-only {
    display: none;
  }
}

[data-bs-theme="dark"] {
  .light-mode-only {
    display: none;
  }
}
